# backend/.dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
staticfiles/ # Will be handled by a volume in docker-compose
mediafiles/  # Will be handled by a volume in docker-compose
.DS_Store
